<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="./tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         syntaxCheck="true"
         verbose="true">
    >
    <testsuites>
        <testsuite name="Unit Tests Suite">
            <directory>tests/Unit/</directory>
        </testsuite>
        <testsuite name="Integration Tests Suite">
            <directory>tests/Integration/</directory>
        </testsuite>
    </testsuites>

    <listeners>
        <listener class="\Mockery\Adapter\Phpunit\TestListener" />
    </listeners>

    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>